.indexcss{
    font-size: 42px;
}

html{
    font-family: sans-serif;
    color: #000000;
    border-style: solid;
    border-color: #FFFFFF;
}
.todo{
    font-weight: bold;
    color: #000000;
    background-color: #ADD8E6;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

#submit-button{
    color: #000000;
}

#submit-button:active{
    box-shadow: 1px 1px 1px;
    color: #90A4AE;
}

li{
    padding: 5px;
    margin-bottom: 10px;
}
body{
    background-image: url(https://c2.q-assets.com/images/products/p/wpx/wpx-248_3z.jpg);
    background-repeat: no-repeat;
    background-size: 1250px 1250px
}
.indexcss{
    font-family: Calibri;
    text-align: center
}
ul{
    text-align: center
}
#new-todo-block{
    text-align: center
}