h1{
    font-size: 42px;
}

html{
    font-family: sans-serif;
    color: #000000;
    border-style: solid;
    border-color: #000000;
}
.todo{
    font-weight: bold;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

#submit-button{
    color: #000000;
}

#submit-button:active{
    box-shadow: 1px 1px 1px;
    color: #90A4AE;
}

li{
    padding: 5px;
    margin-bottom: 10px;
}

